<!DOCTYPE html>

<html>

<head>
    <!-- CSS styling -->
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <!-- Everything that is going to display-->
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather --- Trying Flexbox CSS</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>